<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
		<div>
        Microblog | 
        {% if current_user.is_anonymous %}
		<a href="/login">Login</a> (New User? <a href="{{ url_for('register') }}">Click to Register!</a>)
        {% else %}
		<a href="/logout">Logout</a>
		<h4>Hi, {{ current_user.username }}!</h4>
        {% endif %}
		</div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>